.card {
    position: relative;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    z-index: 2; /* Ensure the text is above the overlay */
    display: flex; /* Use flexbox to align content horizontally */
    flex-direction: row; /* Align children horizontally */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
}

.card-title {
    margin: 0;
}
