<footer class="w-100 p-5">
    <div class="row">
        <div class="col-xl-4 col-md-12 logo-box">
            <a routerLink="">
                <img class="logo mb-3" style="width: 70%;height: 150px;" src="https://jubari.net/media/603/logo-h-white.svg" alt="logo">
            </a>
            <p class="text-white">
                جُباري للسياحة والسفر حيث يبدأ طريق السعادة، ولا ينتهي
            </p>
        </div>
    
        <div class="col-xl-4 col-md-12 list-link">
            <ul style="list-style: none;" class="">
                <h4 class="footer-section-heading text-info">روابط سريعة</h4>
                <li><a routerLink="">الرئيسية</a></li>
                <li><a routerLink="/about">من نحن</a></li>
                <li><a routerLink="/services">خدماتنا</a></li>
                <li><a routerLink="/offers">العروض والباقات</a></li>
                <li><a routerLink="/contact">تواصل معنا</a></li>
            </ul>
        </div>
    
        <div class="col-xl-4 col-md-12 contact-info">
            <ul class="contact-list">
                <h4 class="footer-section-heading text-info"> معلومات التواصل </h4>
                <li class="contact-data">
                    <span class="contact-data-title">رقم الواتساب: </span>
                    <a href="https://wa.me/+967772220300" dir="ltr" target="_blank">+967 77 222 0300</a>
                </li>
                <li class="contact-data">
                    <span class="contact-data-title">رقم الموبايل: </span>
                    <a href="tel:+967771122385" dir="ltr">+967 7711 22385</a>
                </li>
                <li class="contact-data">
                    <span class="contact-data-title">البريد الإلكتروني: </span>
                    <a href="mailto:Info@Jubaritravel.com" dir="ltr">
                        Info&#64;Jubaritravel.com
                    </a>
                </li>
                <li class="contact-data">
                    <span class="contact-data-title">العنوان: </span>
                    <a href="https://www.google.com/maps/dir//Jubari+Travel+%26+Tourism+45+Sana'a+Yemen/@15.3288764,44.2189466,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x1603dae6302df783:0x376919bf522a1c38!2m2!1d44.2189466!2d15.3288764?entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D">
                        أمام جامعة السعيدة شارع 45 منطقة السبعين - صنعاء
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>