section{
    height: 100vh;
    background-image: url('https://jubari.net/media/611/socotra-testata-pozzi-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
