<section 
>
    
</section>

<main class="container">
    <section class="row">
        <div class="col-xl-6 p-5">
                <img style="background-color:#3fbaf1;" src="https://jubari.net/media/602/logo-color.svg" width="400" height="200" class="d-inline-block align-top p-4 rounded rounded-4" alt="">
        </div>
        <div class="gap-5 col-xl-6">
            <h2 class=" fs-1">
                عن جباري
            </h2>
            <p class="fw-bold fs-5">
                جُباري للسياحة والسفر
            </p>
            <p class="fs-5">
                نقدم خدماتنا منذ عام 2011 وحتى اليوم، في اليمن، وخارجها. بخبرة كبيرة في المجال، وبثقة معتمدة محليًا ودوليًا، نجحنا في تكوين قاعدة عملاء وشركاء كبيرة جعلتنا من الجهات الرائدة في المجال لنصنع سعادة كل من جرّب خدماتنا.
            </p>
            <p class="fw-bold fs-5">
                تتركز خدماتنا في:
            </p>
            <ul class="fs-5">
                <li>حجز تذاكر السفر.
                </li>
                <li>الحجز الفندقي.
                </li>
                <li>تأجير السيارات/النقل البري.
                </li>
                <li>التأمين على السفر حال الطلب.
                </li>
                <li>تقديم وإصدار تأشيرات السفر المختلفة حول العالم (تأشيرات شنغن، تأشيرات عبور/...)
                </li>
            </ul>
        </div>
    </section>
    
    <section class="row">
        <div class="p-3 col-xl-4 col-md-6 col-sm-12">
            <div class="rounded-4 p-4 gap-5">
                <i class="fa-solid fa-glasses text-light fs-1"></i>
                <h2 class="text-primary">رؤيتنا</h2>
                <p class="text-white">أن نُصبح في جُباري للسياحة والسفر روّاد المجال في الشرق الأوسط وأفريقيا، عبر تقديم خدمات ذات جودة وتكلفة وتنوع مناسب لجميع الأفراد، لنصبح الخيار الأول والأمثل.</p>
            </div>
        </div>
        <div class="p-3 col-xl-4 col-md-6 col-sm-12">
            <div class="rounded-4 p-4 gap-5">
                <i class="fa-solid fa-truck-fast text-light fs-1"></i>
                <h2 class="text-primary">مهمتنا</h2>
                <p class="text-white">أن نُصبح في جُباري للسياحة والسفر روّاد المجال في الشرق الأوسط وأفريقيا، عبر تقديم خدمات ذات جودة وتكلفة وتنوع مناسب لجميع الأفراد، لنصبح الخيار الأول والأمثل.</p>
            </div>
        </div>
        <div class="p-3 col-xl-4 col-md-6 col-sm-12">
            <div class="rounded-4 p-4 gap-5">
                <i class="fa-solid fa-sun text-light fs-1"></i>
                <h2 class="text-primary">قيمنا</h2>
                <p class="text-white">أن نُصبح في جُباري للسياحة والسفر روّاد المجال في الشرق الأوسط وأفريقيا، عبر تقديم خدمات ذات جودة وتكلفة وتنوع مناسب لجميع الأفراد، لنصبح الخيار الأول والأمثل.</p>
            </div>
        </div>
    </section>
</main>