<main class="w-100">
  <app-hero></app-hero>

  <section style="background-color: #3c31dd" class="text-white text-center py-5">
    <p style=" backdrop-filter: blur(10px); background-color: rgba(245, 245, 245, 0.18);" class="p-2 border border-1 border-white rounded-pill">
      نسعد بخدمتك
    </p>
    <h3 style="color: rgb(136, 213, 249)">نفهم إحتياجك و نلبيه!</h3>
    <h5 class="w-50 fw-light">
      من إصدار التأشيرات وحجز تذاكر السفر، وصولًا لخدمات النقل المحلي والدولي،
      جُباري معك خطوة بخطوة إلى أن نتأكد أنك راضٍ، وبأمان
    </h5>
    <app-home-slider class="container"></app-home-slider>
  </section>
  
  <section class="py-5 gap-3 container text-center">
    <p style=" backdrop-filter: blur(10px); background-color: #e1f2fd;" class="p-3 rounded-pill">
      عش بسعادة
    </p>
    <h1 class="text-primary-emphasis">
      أنت على بُعد خطوة من رحلة لا تُنسى
    </h1>
    <p>
      نعرض لك باقات سياحية متعددة الوجهات، تجمع مابين السعر المنافس والجودة العالية
    </p>

    <article class="w-100 row container">
      <div class="col-6 p-2" *ngFor="let place of places">
        <a [href]="place.link" class="card text-decoration-none position-relative rounded rounded-4"
          style="height: 250px; background-image: url('{{place.imageUrl}}'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
          <div class="overlay rounded rounded-4"></div>
          <div class="card-body text-center d-flex align-items-center justify-content-center text-white position-relative">
            <h4 class="card-title" style="z-index: 2;">{{ place.title }}</h4>
          </div>
        </a>
      </div>
    </article>

    
    
    <a RouterLink="/destinations" class="btn btn-outline-primary my-3">إكتشف المزيد</a>
  </section>
</main>